
body{
    background-color: black;
}

h1{
    color: white;
}
h1 span{
    color: red;
}

h2{
    color: red;
}
.movie-rating-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie-rating-item {
    margin: 20px;
    width: 200px;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .movie-rating-item img {
    width: 220px;
    height: 300px;    background-color: orangered;
    border-radius: 10px 10px 0 0;
  }
  
  .movie-rating-info {
    padding: 20px;
  }
  
  .movie-rating-info h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-rating-info p {
    font-size: 14px;
    color:orange;
    margin-bottom: 10px;
  }

  p{
    color: white;
  }

  p{
    color: white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
  }
  p span{
    color: red;
  }